.reg-feature {
    margin-top: 100px;
}

.info-name{
    display: flex;
    justify-content: center;
}

.info-name span{
    font-family: ApexNew, sans-serif;
    margin-bottom: 30px;
    font-size: 46px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #ffffff;
}

.info-desc{
    display: flex;
    justify-content: center;
}

.info-desc span {
    width: 770px;
    height: 55px;
    margin: 14px 17px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35;
    text-align: left;
    color: #ffffff;
}