.back-navigator {
    display: flex;
    height: 100px;
    position: relative;
    align-items: center;
    padding-left: 130px;
}

#back-arrow{
    width: 26.9px;
    height: 12px;
}

.back-navigator span {
    width: 96px;
    height: 31px;
    margin: 0 0 0 15.1px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #ffffff;
}