/* .slider-wrapper {
    position: relative;
}
.scrollbar{
    display: flex;
    width: 560px;
    margin: 0 auto;
}
.slides {
    display: flex;
    overflow: hidden;
}

.slide-frames:not(:first-child){
    margin-left: 10%;
}

.scroll-line{
    width: 100%;
}

.scrollbar-block {
    top: 7px;
    left: 100px;
    width: 80px;
    background: black;
    height: 5px;
    margin-left: 10px;
    z-index: 2;
}


hr {
    position: absolute;
    width: 560px;
    bottom: 94px;
    z-index: 1;
    left: 35%;
    
} */

.test {
    height: 100px;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper-wrapper {
    display: flex;
}

.slider-body {
    position: relative;
    height: 100%;
  }

.slider-body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }